body {

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

.row {
    width: 100% !important;
    margin: 0 !important;
}

.header-title {
    background-color: #272b30;
    font-size: 16pt;
}

.header-searchbar,
.header-searchbar>.form-control {
    background-color: #494e53;
    border: none;
    height: 100%;
    color: white !important;
}

.header-signout {
    background-color: #272b30;
}

.signout {
    text-decoration: none;
    position: relative;
    color: white;
    top: 10px;
    left: 15px;
}

.body-leftcontain {
    background-color: #f8f9fa;
    border-right: 1px solid #E6E8E9;

}

.admin-item {
    position: fixed;
    z-index: 100;
    width: auto;

}

.body-sidebar-ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
}

.body-sidebar-ul a {
    text-decoration: none;
    color: inherit !important;
    font-size: 11pt;
    font-weight: 500;
}

.body-sidebar-ul li a:visited,
.body-sidebar-ul li a:link {
    color: rgb(46, 38, 38);

}

.body-sidebar-ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 4px;

}

.body-sidebar-ul li img {
    margin-bottom: -7px;
    margin-left: 10px;
    margin-right: 5px;
    width: 20px;
}


.body-sidebar-ul li:hover ,.body-sidebar-ul li:active,.body-sidebar-ul li:visited {
    background-color: #067eff;
    color: #ffff !important;
 
}

/* .table {
    padding-left: 30px;
    padding-right: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

caption {
    text-align: left;
    font-size: 26pt;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

thead {

    vertical-align: middle;
    border-color: inherit;

}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

th {
    text-align: inherit;
    font-weight: bold;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}

tr {

    vertical-align: inherit;
    border-color: inherit;
}

tr:nth-child(even),
tr:hover {
    background-color: #f2f2f2;
}

td {

    padding: .3rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
} */

/* body
{
    margin: 0;
    height: fit-content;
}
a{
    text-decoration: none;
    color: white;
}

p{
    margin: 0%;
    font-size: 13pt;
    padding-top: 10px;
    padding-left: 20px;
}
h4{ 
    font-family: inherit; 
    font-size: 11pt; 
    font-weight: inherit;
    color: #7a828a;
    padding-left: 15px;
}
article
{
    height: 100%;
}
header
{
    height: 48px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


.container
{
   height: 1500px;

   
}
.column{
    float: left;     
    height: 100%;
}

.column2
{
    float: left; 
    padding: 0;
    height: 100%;  
   
}
#c1,#c3
{
      width: 17%;      
}
#c1
{
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    background-color: #272b30;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
#c3{
    background-color: #f8f9fa;
    border-right: 1px solid #edeeef ;  
    
   
}
#c4
{
    height: 100%;
    
}
#c2,#c4
{
    width: 82.9%;
   
}
#c2
{
    background-color: #494e53;
}
.columnfooter
{
    float: left;
    padding: 75px;
}
#input
{
    width: 92%;

}
input
{
    
    width: 100%;
    height: 100%; 
    margin: 0;
    background-color: #494e53;
    padding: 0;
    border: 0 none #ffff;
    border-width: 0;
}
#signout 
{    
     background-color: #343a40;
     width: 8%;       
}
#signout div
{
    padding-top: 14px;
    padding-left: 20px;
}
.row{
    clear: both;   
    width: 100%;
     
    
   
}
#r1
{
    height: 100%;
    
    
}
#r2
{
  

    height: 100%;
}



.admin-item
{
    position: fixed;
  
    z-index: 100;
    width: inherit; 
    
   
}
.body-sidebar-ul
{
    margin: 0;
    list-style: none;    
    padding-left: 0%; 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
}
.body-sidebar-ul a
{ 
    text-decoration: none;
    color: white;      
    font-size: 11pt;	
    font-weight: 500;           
}
       
.body-sidebar-ul li a:visited,.body-sidebar-ul li a:link
{
    color: rgb(46, 38, 38);
    
}
.body-sidebar-ul li 
{
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 20px;   
}
.body-sidebar-ul li img
{
    margin-bottom: -7px;
    margin-left: 10px;
    margin-right: 5px;
    width: 20px;
}
.body-sidebar-ul li a:hover,.body-sidebar-ul li a:active
{
    color: #067eff;
}



#btn
{
    align-items: center;   
    margin-left: 120px;
  

}

.table
{
    padding-left: 30px;
    padding-right: 30px;
}
table
{
    width: 100%;    
    border-collapse: collapse;
    margin: 0;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
caption
{
    text-align: left;
   font-size: 26pt;
   font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
thead{
    
    vertical-align: middle;
    border-color: inherit;
   
}
tbody
{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
th{
    text-align: inherit;
    font-weight: bold;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}
tr {
   
    vertical-align: inherit;
    border-color: inherit;
}
tr:nth-child(even),tr:hover
{
    background-color: #f2f2f2;
}
td{
    
    padding: .3rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}


footer
{
    background-color: #002171 !important;    
    background-image: url(../img/footerbg.png);
    color: white;   
    width: 100%;
    height: 400px;
   
  
        
}
.footer table
{
    color: white;
    width: 100%;
    height: 100%;
} 
.footer-menu
{
    list-style: none;
}
.footer-menu li
{
    padding:10px;
}
.footer-menu a:hover{
    padding-left:  10px;
    
}
.footer-menu a:link, .footer-menu a:visited
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
 */