.body {
    background-color: #F2F3F4 !important;
    height: 100%;
}

.img {
    height: 70px;
    width: 90px;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btn-secondary {
    background-color: rgb(231, 232, 234) !important;
}

#left {
    background-color: white;
    border-radius: 2.5px;
    margin: 10px;
}

#right {
    background-color: white;
    border-radius: 2.5px;
    margin: 10px;
    height: fit-content;
    width: 30%;
}