body
{
    background-image: url(https://lh3.googleusercontent.com/6NBIVbwT7vEbSJSZB29l1NIEZVGCbPyeYl4TxsLhvScXbnGaTUfmFMMGu39N5gN0nlC3ei74sie-GDw=w1898-h932);
}


.table-main
{
    height: 100%;
    width: 100%;
}

.logo img /* kèm theo thẻ để tró đến  */
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid blue;
}
/*  tk nào để sau thì thưucj hiện sau nên lưu ý để tránh bị đè */


.footer
{
    background-color: #002171 !important;    
    background-image: url(./footerbg.png);
    margin-top: 100px;
    padding: 50px;
    color: white;
    
    
}
.footer table
{
    color: white;
    width: 100%;
    height: 100%;
} 
.footer p{
    color: azure;
}
.footer-menu li
{
    padding:10px;
}
.footer-menu a:hover{
    padding-left:  10px;
    
}
.footer-menu a:link, .footer-menu a:visited
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.container
{
    width: 70%;
    height: 100%;
    background-color: #121b31
}

.header-sidebar 
{
    color: white;   
}

.header-sidebar-logo img
{
    float: left;
    margin-top: 30px;
    width: 80px;
    height: 80px;
   
}
.header-sidebar-text
{
    margin-top: 47px;
   font-size: 30pt;
}
.body-sidebar-ul
{
    border-top :1px solid white;
    list-style: none;      
    margin-left: 10px;
    margin-right: 10px;  
    padding-left: 0%; 
    
}
.body-sidebar-ul div
{
    margin-top: 25px;
}

.body-sidebar-ul a
{ 
    text-decoration: none;
    color: white;      
    font-size: 18pt;	           
}
/* chỉnh cho li*/
.body-sidebar-ul li a:visited,.body-sidebar-ul li a:link
{
    color: white;
    
}
.body-sidebar-ul li 
{
    padding-top: 15px;
    padding-bottom: 15px;    
}
.body-sidebar-ul li img
{
    margin-bottom: -3px;
    margin-left: 10px;
    margin-right: 10px;

}

.body-sidebar-ul li:hover
{
    background-color: #2a6cfe;
    border-radius: 8px;
}

.logout
{
    
    text-decoration: none;
    margin-top: 300px; 
    border-top: 1px solid white;
    margin-left: 10px;
    margin-right: 10px; 
    padding-top: 10px;   

}

.logout-logo
{    
    border-radius: 50%;
    width: 52px;
    height: 50px;
    position: relative;
    
}
.logout>a,.logout:link,.logout:visited
{
    color: white;
    position: relative;
    top:-20px;
    left: 20px;
}
