.header-bg{
    background-image: url(../images/header-bg.jpg);
    height: 50%;
    position: absolute;
    top:0;
    width: 100%;
    z-index: -10;
}

article{
    margin-top: 22%;
}

.box{
    height: 100px;
    width: 100px;
}



.medium-box {
    height: 150px;
    width: 150px;
}

.big-box img {
    width: 100%;
    height: 100%;
}

.big-box {
    height: 300px;
    width: 315px;
    position: relative;
}

.big-box::before{
    content: "";
    background-color: yellow;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    display: none;
}

.big-box:hover::before {
    display: block;
    opacity: 70%;
}

.big-icon::before{
    font-size: 50pt;
    color: white;
    padding-top: 15px;
}

.history{
    margin-top: 100px;

}

.first-box{
    position: relative;
}
.first-box::before{
    content: "";
    height: 400px;
    width: 2px;
    background-color: antiquewhite;
    z-index: -10;
    position: absolute;
    left: 50%;
    top:0;
}

.line{
    height: 400px;
    width: 2px;
    background-color: antiquewhite;
    z-index: -10;
    position: absolute;
    left: 50%;
}

.input-height{
    height: 60px;
}

.text-area-height{
    height: 275px;
}