h1 {
    color: #1685b4;
    font-size: larger;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25pt;
    font-weight: 600;
    font-style: normal;
    word-spacing: 2px;
    text-transform: uppercase;
}

.admin-menu {
    color: #1d5369;
    font-size: large;
    /* background-color: #9abcca; */

    text-align: left;
    text-transform: capitalize;
}

.admin-menu ul {
    list-style: none;
    margin: 0;
}

.admin-menu li {
    padding: 10px;
}


.admin-menu li:hover {
    background-color: #1685b4;
}

body {
    background-image: url(../images/bg2.webp);
}

#logout {
    text-decoration: none;
    color: white;
}

.logout {
    margin-top: 100px;
    padding-top: 20px;
    border-top: 1px solid rgb(122, 119, 119);
    margin-left: 10px;
    margin-right: 10px;
}

.logout .profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.border-style {
    height: 100%;
    border-spacing: 0px;
}

.logo {
    width: 100%;
    height: 50px;
}

.logo span {
    font-weight: bold;
}

.menu-item {
    text-decoration: none;
    color: white;
}

.menu-item:visited,
.menu-item:link {
    color: white;
}

.menu-item:hover {}

.footer {
    background-image: url(../images/background_footer.1920w.png);
    height: 300px;
    margin-top: 2px;
    color: white;
    padding: 50px;
    background-color: #002171 !important;
}

.footer table {
    color: white;
    width: 100%;
    height: 100%;
}

.footer-menu li {
    padding: 10px;
}

.footer-menu a:hover {
    padding-left: 10px;
}

.footer-menu a:link,
.footer-menu a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.side-bar-header,
.side-bar-body {
    background-color: black;
    color: white;
    padding: 0px;
}

.side-bar-body {
    height: 100%;
    vertical-align: top;
}

.side-bar-header {
    border-bottom: 1px solid white;
    padding: 0px;
}

.label {
    color: green;

}

.product {
    margin-left: 400px;
    padding-top: 100px;
    margin-right: 400px;
}

.img {
    float: left;

}

.grey {
    width: 100px;
    height: 100px;
    border: 1px solid lightgrey;
    background-color: lightgrey;
    float: left;
    margin-bottom: 35px;
}

.gold {
    width: 100px;
    height: 100px;
    border-radius: 55%;
    background-color: orange;
    float: left;
    margin-top: 30px;
}